body {
  padding-bottom: 77px;
}

.navbar {
  background-color: #212529;
}
.navbar h2 {
  color: #fff;
}

.container {
  width: 90%;
}

.list {
  cursor: pointer;
}

.form {
  position: relative;
}
.form ul {
  position: absolute;
  top: 100%;
  left: -1%;
  width: 250px;
  background-color: #fff;
  list-style: none;
  z-index: 999;
  border: 1px solid #000;
}

.form li {
  padding: 10px 5px;
  float: left;
  width: 100%;
  color: black;
  border-bottom: 1px solid #000;
}

.form li:last-child {
  border: none;
}

/* #search-list > li:nth-child(1) {
  border: none;
} */
.form-control.search {
  width: 88%;
  box-sizing: border-box;
}

#search-list {
  padding-left: 0px !important;
  display: none;
  width: 89.5% !important;
}

footer {
  background-color: #212529;
}
footer p {
  color: #fff;
} /*# sourceMappingURL=style.css.map */

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  #show-title {
    font-size: 1rem;
  }

  #show-poster {
    width: 80%;
  }

  .col-md-6 {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }
}
#show-description {
  text-align: justify;
  padding-left: 16px;
}

.info {
  font-size: 18px;
}

#show-poster {
  margin-left: -12px;
}

#load-more {
  background-color: #212529;
  border: none;
}

#myBtn1 {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: #212529;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn2 {
  display: none;
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: #212529;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn1:hover,
#myBtn2:hover,
#load-more:hover {
  background-color: #31c47d;
}

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s infinite linear;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loader p {
  color: #fff;
  font-size: 24px;
  display: flex;
}

.dot {
  animation: blink 1s infinite;
  animation-delay: 0.1s;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#content {
  display: none;
}

body.loaded #loader-container {
  display: none;
}

body.loaded #content {
  display: block;
}

.title {
  margin-left: -17px;
}

.search-info {
  margin-right: 70px;
}
