#chat-room {
  width: 800px;
  margin: 10px auto;
  /* border: 1px solid lightgray; */
  padding: 10px;
}

#messages {
  height: 600px;
  overflow: auto;
  background-color: white;
  border: 2px solid lightgray;

  margin: 20px;
}

#form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#message-input {
  width: 80%;
  margin-right: 10px;
}

.message {
  line-height: 2;
  background-color: lightgray;
  padding: 5px;
  margin: 5px 20px;
  display: table;
}
